
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100% ; }
}

#BG_animate { 
  width: 1024px; 
  height: 768px; 
  background-image: url(https://i.imgur.com/eVgd6fo.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-y;

  animation: animatedBackground 40s linear infinite;
}