.flicker-3 {
	-webkit-animation: flicker-3 2.5s linear infinite both;
	        animation: flicker-3 2.5s linear infinite both;
}

@-webkit-keyframes flicker-3 {
  0%,
  100% {
    opacity: 0.5;
  }
  32.98% {
    opacity: 0.5;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 0.5;
  }
  34.98% {
    opacity: 0.5;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 0.5;
  }
  38.98% {
    opacity: 0.5;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 0.5;
  }
  83.98% {
    opacity: 0.5;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 0.5;
  }
}
@keyframes flicker-3 {
  0%,
  100% {
    opacity: 0.5;
  }
  32.98% {
    opacity: 0.5;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  34.02% {
    opacity: 0.5;
  }
  34.98% {
    opacity: 0.5;
  }
  35% {
    opacity: 0;
  }
  35.9% {
    opacity: 0;
  }
  35.92% {
    opacity: 0.5;
  }
  38.98% {
    opacity: 0.5;
  }
  39% {
    opacity: 0;
  }
  39.8% {
    opacity: 0;
  }
  39.82% {
    opacity: 0.5;
  }
  83.98% {
    opacity:0.5;
  }
  84% {
    opacity: 0;
  }
  84.9% {
    opacity: 0;
  }
  84.92% {
    opacity: 0.5;
  }
}



